.contentContainer {
  height: calc(100vh - 5rem);
  max-width: 1120px;
  padding: 0 2rem;
  margin: 0 auto;

  background-image: url('../assets/svg/avatar.svg');
  background-repeat: no-repeat;
  background-position: right 2rem center;

  display: flex;
  align-items: center;
}

.hero {
  max-width: 600px;
  
  & > span {
    font-size: 1.5rem;
    font-weight: 700;
  }

  & > h1 {
    margin-top: 2.5rem;

    line-height: 4.5rem;
    font-size: 4.5rem;
    font-weight: 900;
    white-space: nowrap;

    & > span {
      color: var(--cyan-500);
    }
  }
  
  & > p {
    line-height: 2.25rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;

    & > span {
      font-weight: 700;
      color: var(--cyan-500);
    }
  }

  & > button {
    margin-top: 2.5rem;
  }
}